<!DOCTYPE html>
<html ng-app="unexmongo">
<head>
	<meta charset="UTF-8" />
	<title>PFC ---- UNEX - MONGO - HADOOP</title>
	
	<!-- Versión compilada y comprimida del CSS de Bootstrap 
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	 -->
	<!-- Tema opcional 
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
	-->
</head>


<body ng-app="springmvc-angular" ng-controller="DatosController" ng-init="getDatosDia()">

	<div class="container" ng-show="datos != null">
		<div class="datos-info-bottom" ng-repeat="dato in datos">
			<h4><span> {{dato.annoDia}} - {{dato.totalDatosDias}}</span></h4>
		</div>
	</div>
	
	<div class="form">
		<label for="annoDia">Año y Día (2016008):</label>
		<input id="annoDia" ng-model="annoDia" type="number" />
		
		<label for="datoAParsear">Dato a Parsear:</label>
		<input id="datoAParsear" ng-model="datoAParsear" type="text" />
		
		<button id="addBtn" class="btn" ng-click="generarCSV()">Generar CSV</button>
	</div>
	
	<h4>{{msg}}</h4>
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-resource.js"></script>
	<script src="./js/services.js"></script>
	<!-- Versión compilada y comprimida del JavaScript de Bootstrap 
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	-->
</body>
</html>

